body{
    background-color:#FFA726;
    
    color:#FFF3E0;
    font-family:Arial, Helvetica, sans-serif;
}

.heading{
    
    text-align: center;
    background-color:#E65100;
    height: 10%;
    font-size: xx-large;
}

.flexbox{
    display:flex;
    height: 25%;   
    
    margin: 1.5%;
}

.flexbox div{
    margin-right: 1%;

    font-size: x-large; 
    flex-grow: 1;  
}
h2{
    color: #F44336;
}
.flexbox div:nth-child(2){  
    flex-basis: 75%;
    background-color: #F57C00;
    padding-left: 1%; 
}

.flexbox div:nth-child(1){  
    flex-basis: 15%;
      
}
img{
    width: 100%;
}



@media(max-width:900px){
    .flexbox{
        font-size: 1;
        flex-direction: column;
    }
}
    

